<div class="row">
    <div class="col-xs-12 col-md-12">
        <p class="payment-module-description">
            {l s='No se aceptan pagos con billetes de dominacion superior a los $50.' mod='displaypayment'}
        </p>
    </div>
</div>