{block name='allowshopform'}

  <form id="allowshopform" action="{block name='login_form_actionurl'}{$action}{/block}" method="post">

    <section>
      <input type="file" name="archivo" id="archivo"> </input> 
    </section>

  </form>
{/block}
