/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
#header{
	background-image: url(../img/fondo.jpg);
	background-attachment: fixed; 
	background-size: cover;
	background: #ADD8E6;
}

#body #wrapper{
	background: #ADD8E6;	
}