{extends file='page.tpl'}

{block name='page_header_container'}{/block}

 {block name='page_content_container'}
      <section id="content" class="page-content">
        {block name='page_content'}
        {foreach $variableSmarty1 as $var}
        	<input type="checkbox" value="{$var.id_category}" name={$var.name}>
          {$var.name}</br>
        {/foreach}
        {/block}
      </section>

	  <section class="allowshopform">
	  	<form id="allowshop-form" method="post">
	      <input type="file" name="archivo" id="archivo"> </input> 
	  	</form>
      </section>
{/block}